/* header */
header {
    display: grid;
    grid-template-columns: 100px 500px 80px 80px 160px 80px;
    grid-template-rows: 100px;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
}
.logo {
    width: 100px;
    aspect-ratio: 1;
}
.title {
    font-size: 50px;
}
#header-button {
    font-size: 25px;
}
button {
    font-size: 25px;
}

/* main */
.hero {
    width: 100%;
    height: 400px;
    background-color: gray;
}
.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 1200px 500px 200px;
    gap: 20px;
}
.description {
    grid-column: 1/2;
    grid-row: 1/2;
    border: solid 1px black;
}
.description-img {
    height: 150px;
    background-color: gray;
}
.tool {
    grid-column: 2/3;
    grid-row: 1/2;
    border: solid 1px black;
}
.tool-img {
    height: 150px;
    background-color: gray;
}
.tutorial {
    grid-column: 1/3;
    grid-row: 2/3;
    border: solid 1px black;
}
#tutorial-img {
    width: 800px;
    height: 300px;
    background-color: gray;
}
.video {
    grid-column: 1/3;
    grid-row: 3/4;
    border: solid 1px black;
}
.disclaimer {
    grid-column: 1/3;
    grid-row: 4/5;
    border: solid 1px black;
}

/* footer */
footer {
    display: grid;
    grid-template-columns: 100px 500px 80px 80px 160px;
    grid-template-rows: 100px;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
}
#footer-button {
    font-size: 25px;
}