a {
    text-decoration: none;
    color: inherit;
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}
.logo-area {
    display: flex;
    align-items: center;
    gap: 15px;
}
.logo {
  width: 60px; 
  height: auto;
  display: block;
}
.nav a {
    margin-right: 20px;
    color: #333;
}
.top-btn {
    padding: 8px 16px;
    border: none;
    background: #555;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}


/* main */
.hero {
    width: 100%;
    height: 600px;
    background-color: gray;
    overflow: hidden;
}
.hero img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: top;
}
.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 40px;
}
.description, .tool {
    padding: 20px;
}
.description {
    grid-column: 1/2;
    grid-row: 1/2;
    border: solid 1px black;
}
.description-img {
    height: 150px;
}
.description-img img {
    height: 150px;
}
.tool {
    grid-column: 2/3;
    grid-row: 1/2;
    border: solid 1px black;
}
.tool-img {
    height: 150px;
}
.tool-img img {
    height: 150px;
}
.tutorial {
    grid-column: 1/3;
    grid-row: 2/3;
    border: solid 1px black;
    padding: 20px;

    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: auto 1fr;
    gap: 20px;
}
.tutorial h2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: 0;
}
.tutorial-step {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    width: 100%;
    max-width: 400px;
    display: block;
}
.tutorial-text {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.tutorial-text h3 {
    margin-top: 130px;
}
.tutorial-text p {
    line-height: 1.5;
}

#link {
    display: block;
    grid-column: 1/3;
}
#link img {
    width: 100%;
}
.disclaimer {
    grid-column: 1/3;
    grid-row: 4/5;
    border: solid 1px black;
    text-align: center;
}

/* footer */
.footer-nav {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.footer {
    background: #f9f9f9;
    padding: 30px 40px;
}

.footer-top {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.footer-bottom {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.footer-links a {
    margin-left: 20px;
}