.body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
}
.head{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    align-items: center;
}
.title{
    grid-column: 2/3;
    justify-self: left;
}
.button{
    justify-self: center;
    color: white;
    background-color: black;
    padding: 15px 15px;
    border-radius: 10px;
}
.cardimg1{
    width: 200px;
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    margin: 0 auto;
}
.cardimg2{
    width: 200px;
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
    margin: 0 auto;
}
.cardimg3{
    width: 200px;
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: center;
    margin: 0 auto;
}
.cardimg4{
    width: 200px;
    grid-column: 1/2;
    grid-row: 3/4;
    align-self: center;
    margin: 0 auto;
}
.cardimg5{
    width: 200px;
    grid-column: 2/3;
    grid-row: 3/4;
    align-self: center;
    margin: 0 auto;
}
.cardimg6{
    width: 200px;
    grid-column: 3/4;
    grid-row: 3/4;
    align-self: center;
    margin: 0 auto;
}
.row1{
    grid-template-columns: 2/3;
}
.bodyitem1{
    align-items: center;
}
nav{
    display: grid;
    grid-template-columns: 1rf 1fr 1fr;
    justify-items: center;
}
.hbutton{
    grid-column: 1/2;
}
.ebutton{
    grid-column: 2/3;
}
.aabutton{
    grid-column: 3/4;
}
.bodyitem1{
    grid-column: 1/2;
}
.bodyitem2{
    grid-column: 2/3;
}
.bodyitem3{
    grid-column: 3/4;
}
.bodyitem4{

}
.bodyitem5{

}
.bodyitem6{

}